/* purgecss start ignore */

[style*="--aspect-ratio"]> :first-child {
  width: 100%;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--aspect-ratio"]> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.youtube-embed {
  /*
  width: 100%;
  height: -webkit-fill-available;*/
  width: 100%;
  min-width: 650px;
  min-width: 420px;
  height: -webkit-fill-available;
  ;
}

.youtube-embed-parent {

  min-height: 320px;
}

@media (min-width: 340px) {
  .youtube-embed-parent {
    min-width: 120px;
  }
}

@media (min-width: 1024px) {
  .youtube-embed-parent {
    min-width: 720px;
  }
}

#play {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  overflow: hidden;
  background: url("~assets/img/play.png") center center no-repeat;
}
/* purgecss end ignore */
